body{
    font-family: 'Inter', sans-serif;
}

.title{
    display: flex;
    align-items: center;
    font-size: 25px;
}

.top{
    display: flex;
    justify-content: space-around;
}

.input-mensagem-erro{
    color: red;
}

fieldset{
    display: flex;
    flex-direction: column;
}

input{
    font-family: 'Inter', sans-serif;
    height: 40px;
    border: 1px solid grey;
    border-radius: 8px;
    margin: 10px 0;
    padding: 5px;
}

#enter{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    border: none;
    color: #fff;
    font-size: 18px;
    background-color: rgb(75, 197, 51);
    transition: .25s;
}

#enter:hover{
    transform: scale(1.02);
}

#enter:active{
    transform: scale(.98);
}

.invisible{
    display: none;
}

@media screen and (min-width: 1080px){
    body{
        height: 820px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
}

@media screen and (max-height: 900px){
    body{
        height: 650px;
    }
}

@media screen and (min-width: 1440px) {
    input{
        width: 300px;
    }
}

@media screen and (max-width: 1080px) {
    main{
        height: 820px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
   #cover{
    display: none;
   }
}