.inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50px;
    font-weight: bold;
}

label {
    margin-bottom: 10px;
    margin-top: 15px;
}

input {
    width: 250px;
    height: 40px;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    color: #4e4e4e;
}

input::placeholder {
    color: #8a8888;
    padding-left: 10px;
    margin-left: 10px;
    font-family: "Lato";
}

.sub_inputs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15px;
}

.textError{
    color: rgb(197, 169, 7);
}